.modal-container {
  position: absolute;
  top: 60px;
  /* left:0px;
  right:0px;
  bottom: 0px; */
  width: 250px;
  height: auto;
  background-color: blue;
  padding:10px;
  color:white
  
}
.form-container {
  display: flex;
  flex-direction: column;
}
